<ion-card>
    <div class="header">
        <ion-item class="item item-block">
            <div class="item-inner">
                <div class="input-wrapper" text-wrap>
                    <span>
                        <h2>{{ movieReview.movie }}</h2>
                        <p>{{ movieReview.releaseDate }}</p>
                    </span>
                </div>

                <button icon-only ion-button (click)="presentActionSheet()">
                    <span class="button-inner">
                        <ion-icon name="more" role="img" class="icon" ariel-label="more"></ion-icon>
                    </span>
                </button>
            </div>
        </ion-item>
    </div>

    <div class="content">
        <ion-item>
            <p>{{ movieReview.rating }} Star(s)</p>
        </ion-item>

        <ion-card-header>{{ movieReview.title }}</ion-card-header>
        <ion-card-content>{{ movieReview.review }}</ion-card-content>

        <ion-item-divider></ion-item-divider>
        <ion-item>
            <h3>Director</h3>
            <p>{{ movieReview.director.name }}</p>
        </ion-item>

        <ion-item-divider></ion-item-divider>
        <ion-item>
            <h3>Cast</h3>
            <p *ngFor="let actor of movieReview.cast">
                {{ actor.name }}
            </p>
        </ion-item>
    </div>
</ion-card>
