<ion-header>
    <ion-navbar>
        <ion-title>Add Movie Review</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <ion-item>
            <ion-label color="primary" floating>Movie Name</ion-label>
            <ion-input type="text" [formControl]="ngForm.controls.movie"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" floating>Release Date</ion-label>
            <ion-datetime displayFormat="MMM DD YYYY"
                          pickerFormat="MMM DD YYYY"
                          [formControl]="ngForm.controls.releaseDate"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label color="primary" floating>Director</ion-label>
            <ion-input type="text" [formControl]="ngForm.controls.director"></ion-input>
        </ion-item>

        <div padding-top="10">
            <ion-item no-lines>
                <ion-label color="primary">Casts</ion-label>
                <button ion-button icon-only item-right
                        type="button"
                        (click)="addActor()">
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </ion-item>

            <ion-list class="section-actors">
                <ion-item-sliding *ngFor="let actor of getAbstractControl('cast').controls; let i = index;">
                    <ion-item [formGroup]="actor">
                        <ion-label color="default" stacked>Name</ion-label>
                        <ion-input type="text" formControlName="name"></ion-input>
                    </ion-item>

                    <ion-item-options side="left">
                        <button ion-button color="danger" (click)="removeActor(i)">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        </div>

        <ion-item>
            <ion-label color="primary" floating>Title</ion-label>
            <ion-input type="text" [formControl]="ngForm.controls.title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color="primary" floating>Review</ion-label>
            <ion-textarea [formControl]="ngForm.controls.review"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label color="primary" floating>Stars</ion-label>
            <ion-select [formControl]="ngForm.controls.stars">
                <ion-option *ngFor="let s of [1,2,3,4,5]">{{ s }}</ion-option>
            </ion-select>
        </ion-item>

        <button ion-button
                type="submit"
                margin-top="20"
                margin-left="5">Submit</button>
    </form>
</ion-content>
